/*!
 * Start Bootstrap - Shop Homepage (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    overflow: hidden;
}

.caption h4 {
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
    min-height: 450px;
    border: none;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

.extra-form{
    display: none;
}
.rating-input{
    color: yellow;
    font-size: 16px;
}

.product {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-row {
    display: flex;
    flex-wrap: wrap;
}


.unavailable{
    background-color: rgba(255,0,0,0.3);
    position: absolute;

    width: 90%;
    height:96%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    z-index: 100;
    margin-top: 0px;
    font-size:36px;
    color:white;
}

img.thread_logo {
    height: 24px;
    width: 16px;
}

.product-price {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    padding: 5px;
    margin-right: 15px;
    font-weight: bold;
}

.product-price-green {
    position: absolute;
    top: 0;
    right: 0;
    background-color: green;
    color: white;
    padding: 5px;
    margin-right: 15px;
    font-weight: bold;
}

.seotext p{
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 0;
}

.seotext {
    background-color: #f8f9fa;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

.referral_link.amazon {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF9900;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.referral_link.amazon:hover {
    background-color: #FFCC33;
}


.custom-select {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    color: #495057;
    cursor: pointer;
    transition: all 0.3s;
}

.custom-select:hover {
    background-color: #e9ecef;
    border-color: #bfc9d4;
}

.custom-select:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.select-div {
    padding-bottom: 20px;
    text-align: right;
}

.center-search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.product-tags {
    margin-top: 15px;
    margin-bottom: 15px;
}
.product-tags .tag {
    display: inline-block;
    background-color: #f0f0f0;
    color: #333;
    padding: 5px 10px;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 20px;
    font-size: 0.9em;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}
.product-tags .tag:hover {
    background-color: #007bff;
    color: white;
}
.product-tags .tag::before {
    content: '#';
    margin-right: 2px;
    opacity: 0.7;
}